@import '../abstract/global';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -1%; // cause of bad image size
}

.header__logo-wrapper {
	display: inline-block;
	width: 14rem;
}

.header__logo {
	margin-left: -2rem; // bad image
}

.header__right-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

@media screen and (max-width: map-get($breakpoints, lg)) {
	.header {
		&__logo-wrapper {
			width: 11rem;
		}
	}
}

@media screen and (max-width: map-get($breakpoints, sm)) {
	.header {
		margin-top: 0; // cause of bad image size

		&__right-group {
			gap: 0.5rem;
		}

		&__logo-wrapper {
			width: 8rem;
		}

		&__logo {
			margin-left: -0.5rem; // bad image
		}
	}
}
