@import '../abstract/global';

h1,
h2,
h3,
p {
	font-family: map-get($typo, ff);
	color: map-get($colors, neutral, neutral-100);
}

h1,
h2,
h3 {
	font-weight: map-get($typo, fw, bold);
}

h1 {
	font-size: map-get($typo, fs, 4xl);
	line-height: 1.1;
}

h2 {
	font-size: map-get($typo, fs, xl);
}

h3 {
	font-size: map-get($typo, fs, md);
}

p {
	font-size: map-get($typo, fs, sm);
}

body {
	font-family: map-get($typo, ff);
	color: map-get($colors, neutral, neutral-100);
}

@media screen and (max-width: map-get($breakpoints, typo-md)) {
	h1 {
		font-size: map-get($typo, fs, 2xl);
	}

	h2 {
		font-size: map-get($typo, fs, 1lg);
	}
}

@media screen and (max-width: map-get($breakpoints, sm)) {
	h1 {
		font-size: map-get($typo, fs, 2xl);
	}

	h2 {
		font-size: 1.7rem;
	}
}

@media screen and (max-width: map-get($breakpoints, xs)) {
	h1 {
		font-size: map-get($typo, fs, xl);
	}

	h2 {
		font-size: map-get($typo, fs, md);
	}

	h3 {
		font-size: map-get($typo, fs, md);
	}
}
