@import '../abstract/global';

body {
	background-color: map-get($colors, neutral, neutral-600);
}

.hidden {
	display: none;
}

.container {
	max-width: 120rem;
	padding-inline: 5rem;
	margin-inline: auto;
}

.flex-reversed {
	flex-direction: row-reverse;
}

.pl {
	padding-left: 5rem;
}

@media (max-width: map-get($breakpoints, typo-md)) {
	.flex-reversed {
		padding-right: 0rem;
	}
}

@media (max-width: map-get($breakpoints, sm)) {
	.container {
		max-width: 95%;
		padding-inline: 2rem;
	}
}

@media screen and (max-width: map-get($breakpoints, xs)) {
	.container {
		max-width: 95%;
		margin-inline: auto;
		padding-inline: 0;
	}
}
