@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$typo: (
	ff: (
		'Roboto',
		sans-serif,
	),
	fw: (
		regular: 400,
		bold: 700,
	),
	fs: (
		4xl: 4rem,
		3xl: 3.125rem,
		2xl: 3rem,
		1xl: 2.3rem,
		xl: 1.6rem,
		lg: 1.4rem,
		md: 1.1rem,
		sm: 1rem,
	),
);

$colors: (
	neutral: (
		neutral-100: #fff,
		neutral-200: #737373,
		neutral-300: #303030,
		neutral-400: #333,
		neutral-500: #222,
		neutral-600: #000,
	),
	primary: #f40612,
);

$breakpoints: (
	lg: 104rem,
	typo-md: 81rem,
	md: 73rem,
	sm: 45.5rem,
	xs: 39rem,
);
